body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
    padding: 0;
    font-size: 15px;
}
nav {
    padding: 2em;
    display: flex;
    justify-content: space-around;
    width: 20%;
    margin-left: auto;
}
main a {
    color: blue;
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

nav img {
    height: 20px;
}
#profile_button {
    width: 30px;
    height: 30px;
    background-color: rgb(51, 116, 190);
    color: white;
    border-radius: 50%;
    border: none;
}
main {
    width: 50%;
    margin: 4em auto;
    text-align: center;
}
input {
    width: 80%;
    padding: 1em;
    border-radius: 35px;
    border: 1px solid grey;
    margin-top: 30px;
}
input:hover {
    box-shadow: 0 0 10px   #aaa9a9;
}
input:active {
    border: 1px solid black;
}
    
.buttons {
    margin-top: 30px;
    margin-bottom: 30px;
}
button:hover {
    cursor: pointer;
}
.buttons button {
    padding: 1em;
    border: none;
}
footer {
    background-color: rgb(238, 237, 237);
}
.footer_top {
    padding: 1em;
}
.footer_bottom {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(214, 212, 212);
}
.left a {
    margin-right: 10px;
}
.right a {
    margin-right: 10px;
}

